<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
     {% load static %}
    <link rel="stylesheet" href="/static/css/style.css">
</head>
    
<center>
   <b>
     <h1> My Exam App</h1>
    </b>

<center>
    <img src="examapp/templates/home.html" alt="EXAM APP ">
</center>

<body>
    <form style="margin-top: 230px;">
       <b> <input type="submit" value="Question Operation" formaction="/examapp/givemequestioncurd/">
        <hr><br><br />
        <input type="submit" value="Student Operation" formaction="/examapp/givemeusercurd/">
        <hr><br><br />
        <input type="submit" value="Student Login Operation" formaction="/examapp/givemelogin/">
        <hr><br><br />
        <input type="submit" value="Student Result" formaction="/examapp/showallresults">
        <hr><br>
        </b>
    </form>

    </center>
</body>

</html>